@import "config";
@import "utilities";

// General Styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 1.6;
  background: #fff;
  // color: #333;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Amatic SC", cursive;
}

h2 {
  margin-bottom: 0.55rem;
  color: #333;
  font-family: "Amatic SC", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
}

h3,
h4,
p {
  margin-bottom: 0.55rem;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

img {
  width: 100%;
}

//Logo
#logo {
  width: 65px;
  height: 65px;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
}

//Main Nav

#main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  border: 1px solid red;
  background-color: rgba(3, 3, 3, 0.65);
  position: sticky;
  top: 0;
  z-index: 2;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;

    &:hover {
      background-color: $main-color;
      transition: all 0.5s;
    }
  }

  a {
    text-decoration: none;
    color: #fff;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &.current {
      border-color: $main-color;
    }
  }
}

// Try & .inner (with a space)

#main-nav-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  border: 1px solid red;
  background-color: $dark-bg;
  position: sticky;
  top: 0;
  z-index: 2;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;

    &:hover {
      background-color: $main-color;
      transition: all 0.5s;
    }
  }

  a {
    text-decoration: none;
    color: #fff;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &.current {
      border-color: $main-color;
    }
  }
}

// Header

#header {
  &-home {
    background: $bg-image no-repeat center center / cover;
    background-color: $dark-color;
    height: 100vh;
    color: #fff;
    //Header content
    .header-content {
      text-align: center;
      padding-top: 20%;
    }

    h1 {
      font-size: 7rem;
      line-height: 1.2;
      text-shadow: 5px 5px 8px #333;
    }
  }
  //Header Inner
  &-inner {
    position: relative;
    //Header content
    .header-content-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 30vh;
      color: #fff;
      font-size: 2rem;
      text-shadow: 5px 5px 8px #333;
      background: $bg-image no-repeat center center / cover;
    }
  }
}

//New styles

.two-column-A-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.column-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  height: 100%;
}

.three_column_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image-removed {
  padding: 3rem;
}
.three-column-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  height: 100%;
}

// PHOTO GRID

.case img:hover {
  opacity: 0.7;
}

// FOOTER
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: $dark-bg;
  color: #fff;
  padding: 2rem;
}

.social a {
  padding-left: 10px;
}

// CONTACT AND DIRECTIONS PAGE styles

/* .directions {
  grid-area: directions-area;
}

.contact {
  grid-area: contact-area;
} */

.directions-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  //grid-template-areas: "directions-area directions-area contact-area";
  grid-gap: 2rem;
  padding: 6rem;
}

.directions,
.contact {
  h2 {
    border-bottom: 2px solid coral;
    text-align: center;
  }
}

.directions-text {
  padding: 3rem 4rem 4rem 4rem;
  margin: 0 auto;
  p {
    text-align: left;
    padding-bottom: 2rem;
    //border: 1px solid red;
  }
}

.google-map {
  text-align: center;
  padding-top: 2rem;
}

.contact {
  text-align: center;

  .SFF {
    font-weight: bold;
    padding: 20px;
  }

  .btn-dark {
    font-weight: bold;
    margin: 0 auto;
    width: 13rem;
    padding: 2rem;
    border-radius: 50%;
  }

  img {
    width: 13rem;
  }
}

/* ACTIVITIES PAGE */

.activity-page {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

h1.activities {
  text-align: center;
  font-size: 3rem;
}

h2.activities {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
}

h3.activities {
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  em {
    font-size: 0.9rem;
  }
}

.time {
  font-weight: bold;
  text-align: right;
  vertical-align: top;
  width: 25px;
}

ul.activities {
  text-align: center;
}

.print-icon {
  background-color: coral;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}

// Sticky menu

#nav-wrapper {
  display: none;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #f4f4f4;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #333;
  border: 1px solid red;
  margin-left: 35px;
}

/* Navbar links */
#navbar a {
  color: coral;
  font-weight: bold;
  padding: 0.65rem;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 300px;
  // visibility: visible;
}

.show {
  visibility: visible !important;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.title-item {
  grid-area: title;
  font-weight: bold;
  font-size: 1.5rem;
}

.title-item em {
  font-size: 1rem;
}

.time-item {
  grid-area: time;
  font-weight: bold;
  font-size: 1.2rem;
}
.description-item {
  grid-area: description;
  font-size: 1.2rem;
}

.grid-container {
  grid-area: central-column;
  display: grid;
  grid-template-areas:
    "title title title"
    "time description description";
  ul li {
    list-style: square;
  }
}

.grid-container > div {
  text-align: center;
  padding: 1rem 1rem;
  //border: 1px solid red;
  color: #333;
}

.main-container {
  display: grid;
  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-template-areas: "left-menu central-column central-column right-print";
  margin: auto;
  width: 85%;
}

.central-container {
  max-width: 700px;
  margin: auto 0;
}

.act-left-menu {
  grid-area: left-menu;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 3rem;
}

.act-right-print {
  grid-area: right-print;
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 3rem;
}

// SPONSORS PAGE

.top-message {
  text-align: center;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
}

.sponsors-top-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  //grid-template-areas: "directions-area directions-area contact-area";
  grid-gap: 2rem;
  padding: 6rem;
  text-align: center;
}

.red-maple,
.white-oak,
.blue-spruce {
  h2 {
    border-bottom: 2px solid coral;
    text-align: center;
  }
  ul li {
    font-weight: 300;
    font-size: 1.3rem;
  }
  img {
    text-align: center;
    width: 60%;
    //border: 2px solid coral;
  }
}

.long-form-sponsor-header {
  text-align: center;
  margin-top: 3rem;
}

.sponsors-two-columns-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  //grid-template-areas: "directions-area directions-area contact-area";
  grid-gap: 2rem;
  padding: 6rem;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
}

.sponsors-two-columns-grid {
  img {
    width: 250px;
    box-shadow: 8px 8px 8px rgb(156, 156, 156);
    margin-bottom: 20px;
  }
}

section.sponsors-left-column,
section.sponsors-right-column {
  text-align: center;
  article {
    font-weight: 300;
    margin-top: 3rem;
  }
}

.sponsor-top-link {
  font-weight: bold;
  font-size: 1rem;
}

// SPECIAL EVENTS

.column-text a {
  font-weight: bold;
}
